@import "../../../assets/scss/mixin";
@import "../scss/variables.scss";

.content-sa {
  position: relative;
  z-index: 90;
  padding: 0 0 84px;
  background-color: #f7f7f7;
}

.content-sa-items {
  padding: 12px;
  padding-top: 62px;
  &.not{
    padding-top: 42px;
  }
  @media screen and (max-width: 375px) {
    padding-top: 40px;
    &.not{
      padding-top: 5px;
    }
  }
  @media screen and (min-width: 620px) {
    padding-top: 20px;
    .sa-group--item {
      display: inline-block;
      vertical-align: top;
      width: calc(50% - 10px);
      margin: 0 20px 20px 0 !important;
      &:nth-child(2n) {
        margin-right: 0 !important;
      }
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
  @media screen and (min-width: 1034px) {
    .sa-group--item {
      width: calc(33% - 10px);
      margin: 0 20px 20px 0 !important;
      &:nth-child(2n) {
        margin-right: 20px !important;
      }
      &:nth-child(3n) {
        margin-right: 0 !important;
      }
    }
  }
  .sa-group--item {
    cursor: pointer;
    position: relative;
    margin-bottom: 6px;
  }
}

.content-sa-tabs {
  padding: 24px 10px 24px 10px;
  min-width: 320px;
  @include position(
    fixed,
    $z-index: 1000,
    $top: #{$head}px,
    $left: 0,
    $right: 0,
    $bottom: auto
  );
  &:before {
    content: "";
    background: #f7f7f7;
    height: 80px;
    @include position(fixed, $top: 280px, $left: 0, $right: 0);
  }

  &.not{
    top: 300px;
    &:before{
      top: 260px;
    }
  }
  @media screen and (max-width: 375px) {
    top: 300px;
    &:before {
      top: 265px;
    }
    &.not{
      top: 266px;
      &:before {
        top: 224px;
      }
    }
   
  }
}

.tabs2 {
  font-size: 0;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 0 10px 0 5px;
  @include radius(60px);
  // @include shadow(0px 0.5px 5px 1.5px rgba(0, 0, 0, 0.05));
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border: 3px solid #fff;
    @include radius(60px);
  }
  .tab {
    width: 100%;
    white-space: nowrap;
    color: #000;
    cursor: pointer;
    text-align: center;
    padding: 0 8px;
    @include font(14px, 400, 20px);
    @include select(none);
    @include position(relative, $z-index: 100);
    @include transition(color 0.2s ease-in-out);
    &.active {
      color: #fff;
    }
  }
  .tab--switch {
    height: 40px;
    @include select(none);
    @include position(absolute, $z-index: 50, $left: -2px);
    @include transition(width 0.2s ease-in-out, transform 0.2s ease-in-out);
    background-image: url(../img/home/nav-btn.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
